In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from matplotlib import pyplot
import numpy as np
from scipy.stats import binned_statistic
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import KBinsDiscretizer

In [ ]:
data_path = "/content/drive/MyDrive/ADM/WinnipegDataset_PCA_GA_revised.csv"
df_data = pd.read_csv(data_path)
df_data.head()

   label       f3      f4       f8  ...  f140    f143      f155    f167
0      6 -16.5240 -20.043 -10.0250  ...  4533  2.4851  0.145850  2.5556
1      1  -8.4314 -11.446  -8.3004  ...  3641  4.3886  0.199670  0.0000
2      4 -18.3930 -23.072  -9.4808  ...  4377  3.5261  0.207610  2.0000
3      6 -16.3840 -19.722 -11.1120  ...  4010  2.5542  0.111110  2.0000
4      6 -15.1070 -19.087  -9.1981  ...  4918  1.1997 -0.001016  4.7778

[5 rows x 19 columns]

In [ ]:
d_data = df_data.copy()
d_data.head()

   label       f3      f4       f8  ...  f140    f143      f155    f167
0      6 -16.5240 -20.043 -10.0250  ...  4533  2.4851  0.145850  2.5556
1      1  -8.4314 -11.446  -8.3004  ...  3641  4.3886  0.199670  0.0000
2      4 -18.3930 -23.072  -9.4808  ...  4377  3.5261  0.207610  2.0000
3      6 -16.3840 -19.722 -11.1120  ...  4010  2.5542  0.111110  2.0000
4      6 -15.1070 -19.087  -9.1981  ...  4918  1.1997 -0.001016  4.7778

[5 rows x 19 columns]

In [ ]:
del df_data['label']
df_data

             f3       f4       f8      f11  ...  f140    f143      f155    f167
0      -16.5240 -20.0430 -10.0250  2.70940  ...  4533  2.4851  0.145850  2.5556
1       -8.4314 -11.4460  -8.3004  2.50710  ...  3641  4.3886  0.199670  0.0000
2      -18.3930 -23.0720  -9.4808  4.83970  ...  4377  3.5261  0.207610  2.0000
3      -16.3840 -19.7220 -11.1120  3.09840  ...  4010  2.5542  0.111110  2.0000
4      -15.1070 -19.0870  -9.1981  4.11630  ...  4918  1.1997 -0.001016  4.7778
...         ...      ...      ...      ...  ...   ...     ...       ...     ...
325829 -12.2600 -14.7240  -8.4439  2.96760  ...  5996  3.1430  0.175690  4.2222
325830 -17.1930 -21.0320  -8.7777  4.71460  ...  4022  2.9136  0.142130  1.1111
325831 -19.7190 -22.5490 -10.2840  4.28280  ...  3941  2.9624  0.157080  1.4444
325832  -7.3756  -9.8729  -7.9491  0.90126  ...  3902  3.2661  0.129700  1.1111
325833 -16.8940 -22.5620 -11.1070  7.54050  ...  4064  3.5225  0.187090  1.0000

[325834 rows x 18 columns]

In [ ]:
cols = df_data.columns
cols

Index(['f3', 'f4', 'f8', 'f11', 'f26', 'f28', 'f34', 'f50', 'f58', 'f83',
       'f93', 'f101', 'f103', 'f122', 'f140', 'f143', 'f155', 'f167'],
      dtype='object')

In [ ]:
trans = KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='uniform')
# trans = KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='quantile')
data = trans.fit_transform(df_data)

In [ ]:
f = open("/content/drive/MyDrive/ADM/bin_range_PCA_GA_revised_3.csv", "w")
f.write("0,1,2,3\n")
for i in range(18):
    s = ",".join(list(map(str, trans.bin_edges_[i]))) + "\n";
#     print(s)
#     break
    f.write(s)
f.close()

In [ ]:
dataset = pd.DataFrame(data, columns = cols)
dataset

         f3   f4   f8  f11  f26  f28  ...  f103  f122  f140  f143  f155  f167
0       0.0  0.0  1.0  1.0  0.0  1.0  ...   1.0   0.0   0.0   0.0   1.0   0.0
1       1.0  1.0  1.0  1.0  0.0  1.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
2       0.0  0.0  1.0  1.0  0.0  1.0  ...   0.0   0.0   0.0   1.0   1.0   0.0
3       0.0  0.0  1.0  1.0  0.0  1.0  ...   1.0   0.0   0.0   0.0   1.0   0.0
4       0.0  0.0  1.0  1.0  0.0  2.0  ...   1.0   0.0   1.0   0.0   0.0   1.0
...     ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...   ...
325829  1.0  1.0  1.0  1.0  0.0  2.0  ...   2.0   0.0   1.0   1.0   1.0   1.0
325830  0.0  0.0  1.0  1.0  0.0  1.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
325831  0.0  0.0  1.0  1.0  0.0  1.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
325832  1.0  1.0  1.0  1.0  0.0  1.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
325833  0.0  0.0  1.0  2.0  0.0  1.0  ...   1.0   0.0   0.0   1.0   1.0   0.0

[325834 rows x 18 columns]

In [ ]:
dataset['label'] = d_data['label'].values
dataset

         f3   f4   f8  f11  f26  f28  ...  f122  f140  f143  f155  f167  label
0       0.0  0.0  1.0  1.0  0.0  1.0  ...   0.0   0.0   0.0   1.0   0.0      6
1       1.0  1.0  1.0  1.0  0.0  1.0  ...   0.0   0.0   1.0   1.0   0.0      1
2       0.0  0.0  1.0  1.0  0.0  1.0  ...   0.0   0.0   1.0   1.0   0.0      4
3       0.0  0.0  1.0  1.0  0.0  1.0  ...   0.0   0.0   0.0   1.0   0.0      6
4       0.0  0.0  1.0  1.0  0.0  2.0  ...   0.0   1.0   0.0   0.0   1.0      6
...     ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...    ...
325829  1.0  1.0  1.0  1.0  0.0  2.0  ...   0.0   1.0   1.0   1.0   1.0      3
325830  0.0  0.0  1.0  1.0  0.0  1.0  ...   0.0   0.0   1.0   1.0   0.0      6
325831  0.0  0.0  1.0  1.0  0.0  1.0  ...   0.0   0.0   1.0   1.0   0.0      6
325832  1.0  1.0  1.0  1.0  0.0  1.0  ...   0.0   0.0   1.0   1.0   0.0      1
325833  0.0  0.0  1.0  2.0  0.0  1.0  ...   0.0   0.0   1.0   1.0   0.0      5

[325834 rows x 19 columns]

In [ ]:
cols = dataset.columns.tolist()
cols

['f3',
 'f4',
 'f8',
 'f11',
 'f26',
 'f28',
 'f34',
 'f50',
 'f58',
 'f83',
 'f93',
 'f101',
 'f103',
 'f122',
 'f140',
 'f143',
 'f155',
 'f167',
 'label']

In [ ]:
cols = cols[-1:] + cols[:-1]
cols

['label',
 'f3',
 'f4',
 'f8',
 'f11',
 'f26',
 'f28',
 'f34',
 'f50',
 'f58',
 'f83',
 'f93',
 'f101',
 'f103',
 'f122',
 'f140',
 'f143',
 'f155',
 'f167']

In [ ]:
ddataset = dataset[cols]
ddataset

        label   f3   f4   f8  f11  f26  ...  f103  f122  f140  f143  f155  f167
0           6  0.0  0.0  1.0  1.0  0.0  ...   1.0   0.0   0.0   0.0   1.0   0.0
1           1  1.0  1.0  1.0  1.0  0.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
2           4  0.0  0.0  1.0  1.0  0.0  ...   0.0   0.0   0.0   1.0   1.0   0.0
3           6  0.0  0.0  1.0  1.0  0.0  ...   1.0   0.0   0.0   0.0   1.0   0.0
4           6  0.0  0.0  1.0  1.0  0.0  ...   1.0   0.0   1.0   0.0   0.0   1.0
...       ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...   ...
325829      3  1.0  1.0  1.0  1.0  0.0  ...   2.0   0.0   1.0   1.0   1.0   1.0
325830      6  0.0  0.0  1.0  1.0  0.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
325831      6  0.0  0.0  1.0  1.0  0.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
325832      1  1.0  1.0  1.0  1.0  0.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
325833      5  0.0  0.0  1.0  2.0  0.0  ...   1.0   0.0   0.0   1.0   1.0   0.0

[325834 rows x 19 columns]

In [ ]:
ddataset.to_csv('/content/drive/MyDrive/ADM/WinnipegDataset_PCA_GA_revised_3.csv', index=False)